.game-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  text-decoration: none;
  height: 380px;
  transition: all 0.2s ease;
  overflow: hidden;
}

.game-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-box {
  padding: 16px;
  background-color: #32383e;
  height: 100%;
}

.game-title {
  font-size: 20px;
  color: #aaa;
}

.game-desc {
  margin: 8px 0;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
